<%- include('partials/header') %>

<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand">CROWDFUNDS-ADMIN</a>
    <form action="<%= admin=='5fab88c7c9809d9c9c6870fb'?'/adminDashboard':'/dashboard' %>" class="form-inline">
        <button class="btn btn-dark my-2 my-sm-0" type="submit">Home</button>
    </form>
</nav>
<div class="wrapper">

    <form method="POST">
        <div class="title">
            Donor Details
        </div>

        <div class=" form">

            <div class="inputfield">
                <label>Name</label>
                <input type="text" class="input" name="name" required='required' value="<%= user.name %>" readonly>
            </div>
            <div class="inputfield">
                <label>Email Address</label>
                <input type="email" class="input" name='username' required='required' value="<%= user.username %>"
                    readonly>
            </div>
            <div class="inputfield">
                <label>Phone Number</label>
                <input type="text" class="input" name='phone' required='required' value="<%= user.phone %>" readonly>
            </div>
            <div class="inputfield">
                <label>Gender</label>
                <input type="text" class="input" name='gender' required='required' value="<%= user.selected %>"
                    readonly>
            </div>
            <div class="inputfield">
                <label>Donation type</label>
                <input type="text" class="input" name='gender' required='required' value="<%= user.donation_type %>"
                    readonly>
            </div>
            <div class="inputfield">
                <label>Address</label>
                <textarea class="textarea" name="address" required="required" readonly><%= user.address %></textarea>
            </div>
            <div class="inputfield">
                <label>Postal Code</label>
                <input type="text" class="input" name="postal" required='required' value="<%= user.postal %>" readonly>
            </div>
            <div class="inputfield">
                <label>aadhar card image</label>
                <a href="/uploads/<%= user.image %>" download="adhar<%= user.name %>"><%= user.name %> aadhar</a>
            </div>
            <% if(admin!='5fab88c7c9809d9c9c6870fb'){ %>
            <div class="text-center inputfield terms" style="color: black;">
                <% if(user.rejected==true){ %>
                <p></p>Your form was rejected please contact the admin
                <% } %>
                <% if(user.rejected==false && user.verify==false){ %>
                <p></p>Your form is under the process of verification
                <% } %>
                <% if(user.verify==true){ %>
                <p></p>Your form has been verified, the admin will contact you shortly
                <% } %>
            </div>
            <% } %>
            <% if(user.verify==false && user.rejected==false && admin=='5fab88c7c9809d9c9c6870fb'){ %>
            <div class="inputfield">
                <input type="submit" value="Verify donor" class="btn" formaction="/adminDashboard/<%= user._id %>">
            </div>
            <div class="inputfield" style="background-color: red!important;">
                <input type="submit" value="Reject donor" class="btn" formaction="/rejected/<%= user._id %>">
            </div>
            <% } %>
        </div>
    </form>
</div>

<%- include('partials/footer') %>